/* board.css */

body {
	text-align: center;
	margin: 0 auto;
	padding : 0 auto;
	
}

header {
	background-color: dodgerblue;
	height: 150px;
}

header h1 {
	line-height: 150px;
	font-size: 4.5em;
	color: white;
	font-weight: bold;
	text-shadow: 3px 3px 3px black;
}

nav {
	text-align: right;
}

nav ul {
	background-color: lightblue;
	list-style-type: none;
	margin: 0;
	padding-left: 30;
	overflow: hidden;
}
nav li {
	float:left;
	margin-right: 20px;
	font-size: 1.5em;
}

nav ul li a{
	text-decoration: none;
}

.center {
	margin: 80px 150px;
}

table, th, td {
	border: 1px solid dodgerblue;
	font-size: 1.3em;
}

#bNum {
	width: 10em;
}

#bTitle {
	width: 50em;
}

#bDate {
	width: 15em;
}

#bWriter {
	width: 10em;
}

#bComm {
	width: 10em;
}